%h1 Notes
- @notes.each do |note|
  .note
    .title
      = link_to note.date.strftime('%A %B %e, %Y'), date_link(note.date)
      = link_to '»', note, :rel=>:facebox
    .body= simple_format note.body
  
= will_paginate @notes