%h1 Edit Recurring Transaction

= form_with model: @recurring, data: { turbo: false } do |f|
  = render partial: 'form', object: f
  %p
    = submit_tag 'Update'
    or
    %span.delete= link_to 'delete', @recurring, method: :delete
