- unless things.empty?
  .table-responsive
    %table
      %thead
        %tr
          %th Date
          %th Description
          %th Debit
          %th Credit
          %th Amount

      %tbody
        - things.each do |thing|
          = render 'things/thing', thing: thing
