<h1>New Job</h1>

<%= error_messages_for :job %>

<% form_for(:job, :url => jobs_path) do |f| %>
	<%= render :partial=>'form', :object=>f %>
  <p><%= submit_tag "Create" %></p>
<% end %>

<%= link_to 'Back', jobs_path %>