body {
  color: #333;
  font-family: verdana, helvetica, sans-serif;
  font-size: small;
  margin: 0;
  padding: 0;
}
/* adjustment for IE5 */
body {
	font-size: x-small; /* IE5 Win */
  voice-family: "\"}\""; 
  voice-family: inherit;
  font-size: small;
}
html>body { /* be nice to Opera */
	font-size: small;
}

input {
  border: 1px solid #999;
}
input.money{
  background: #ffffff url(/images/dollar_sign.png) no-repeat center left;
  padding-left: 12px;
}