a { color: #36d; text-decoration: none;}
a:hover {  text-decoration: underline; }

#AddNew{
  margin-bottom: 2em;
}

body {
  color: #333;
  font-family: verdana, helvetica, sans-serif;
  font-size: small;
  margin: 0;
  padding: 0;
  background: #bbb;
}
/* adjustment for IE5 */
body {
	font-size: x-small; /* IE5 Win */
  voice-family: "\"}\""; 
  voice-family: inherit;
  font-size: small;
}
html>body { /* be nice to Opera */
	font-size: small;
}

.breakout{
  width: 8em;
	border: 1px solid #999;
	background-color: #eee;
  padding: 0 1em;
  float: right;
  margin: 5px 0 0 0;
}
.breakout dt{
  width: 4em;
  float: left;
  margin:0;
}
.breakout dd{
  margin-left: 4em;
	text-align: right;
}

.clear { clear: both; }

.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

#Content {
	margin: 0 auto;
  padding: 2em 2em;
	width: 848px; 
	background: #fff url(/images/black_gradient.png) repeat-x top;
}

#Copy {
  width: 30em;
  float: left;
}
#Copy h2{
  margin: 0;
  size: 1.5em;
  line-height: 1.5em;
}
#Copy p{
  margin: 0 0 2em 0;
  line-height: 1.5em;
}

.fixed_width {
  width: 900px;
  margin: 0 auto;
}

#Footer {
	margin: 0 auto 1.5em auto;
  padding: 3em 2em 0.5em 2em;
	width: 848px; 
	background: #fff;
	color: #999;
}
#Footer a { color: #666;}

.green{ color: #390;}


h1{
	font-weight: normal;
	margin: 0.5em 0;
	padding: 0;
}

h2{
  font-weight: normal;
  margin: 0.5em 0;
  padding: 0;
}

.half{
	width: 50%;
}

#Header{
	height: 60px;
	background: #363;
	margin: 0 auto; 
}

#Input {
  margin-left: 30em;
}
#Input form {
  margin-bottom: 4em;
}


img {border: 0;}
img.box {padding: 10px; border: 1px solid #ddd;}

input {
  border: 1px solid #999;
}
input.description{ width: 11em;}
input.money{
  background: #ffffff url(/images/dollar_sign.png) no-repeat center left;
  padding-left: 12px;
  width: 10em;
}
input.time{
  width: 2em;
}

.intro {
	margin: 4em 0 2em 0;
	padding: 0;
	font-weight: bold;	
}

.list0{background-color: #eee;}
.list1{background-color: #fff;}

#Logo{ 
  margin: 10px 1em;
}

#Navigation {
  margin: 0 auto;
  padding: 0;
  height: 2em;
  width: 900px;
  background: #030;
}
#Navigation li{
  float: left;
  list-style-type: none;
  list-style-image: none;
  margin: 0 10px 0 0;
  line-height: 2em;
  padding: 0;
}
#Navigation li a {display:block; padding: 0 0.25em; color: #fff; }
#Navigation li a:hover{background-color: #fff; text-decoration: none; color: #030; }
#Navigation li.manage { float: right; }
#Navigation li.first { margin-left: 1em;}

#NewTransaction{
  float:left;
  margin-top: -1em;
}

#NewWork{
  margin-left: 18em;
}

.red { color: #d00; }

.redbox_padding{
  padding: 1em 1em 0em 2em;
}

#Register th{
	text-align: left;
	font-weight: normal;
	border-bottom: 1px solid #999;
}
#Register td{padding: 0.25em 1em 0.25em 0;}
#Register th{padding-right: 1em;}
#Register th.description{width: 15em;}
#Register .tags { font-size: 0.9em; line-height: 1.1em; color:#666;}
#Register td.last {padding-right: 0.25em; text-align: right;}
#Register tr.total{border-top: 1px solid #999;}

.right{ text-align: right;}

#Screencast {
  margin-left: 35em;
}
#Screencast img{
  border: 1px solid #ccc;
}
#Screencast h2 {
  text-align: right;
}

select{
  border: 1px solid #999;
}

table {
  border-collapse: collapse;
}

table.calendar{
  clear: both;
}

table.calendar td{
  border: 1px solid #ddd;
  height: 3em;
  vertical-align: top;
  padding: 0 0.5em 0 0;
}

table.calendar td .date{
  color: #999;
  margin-right: 2em;
  font-size: 80%;
  float: left;
}

table.calendar td.otherMonth{
  color: #999;
  font-size: 80%;
  
}

table.calendar td div.total{
  text-align: right;
  font-size: 150%;
}

table.calendar th{
  text-align: left;
  font-weight: normal;
  font-size: 80%;
  background-color: #eee;
  border: 1px solid #ddd;
}

table.calendar tr.monthName th{
  text-align: center;
  font-size: 200%;  
  background-color: #fff;
  border: 0;
  padding-bottom: 0.5em;
}

table.calendar dl{
  margin: 1em 0 0 0;
  padding: 0;
}

table.calendar dl dt{
  float: left;
  text-align: right;
  clear: both;
  margin: 0;
  padding: 0;
  width: 3em;
}

table.calendar dl dd{
  margin: 0 0 0 4em;
  padding: 0;
}

#Transactions {
  width: 25em;
  margin: 0;
  padding: 0;
  float: left;
}
#Transactions a{
  color: #333;
}
#Transactions li{
  color: #666;
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}
#Transactions li.date{
  border-bottom: 1px solid #999;
  font-variant: small-caps;
  margin-left: -2em;
  padding-left: 1em;
}
#Transactions li ul {
  margin: 0 0 3em 0;
  padding: 0;
}
#Transactions li ul li{
  background-color: #fff;
  color: #333;
  font-size: 1em;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  padding: 0;
}
#Transactions li ul li:hover{
  background: #ffc;
}
#Transactions li ul li:hover a{
  color: #36d;
}

#Transactions dl dt{
  float: left;
  width: 3em;
  text-align: right;
}
#Transactions dl dd {
  margin-left: 4em;
}
#Transactions .tags {
  color: #999;
  font-size: 90%;
  line-height: 1.1em;
  margin-left: 1em;
}

