a { 
  color: #999; 
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  color: #333;
  font-family: helvetica, sans-serif;
  background: #ccc;
}

#Content {
  margin: 0 auto;
  width: 800px;
  background: #fff;
  padding: 1em 0 2em 2em;
  border-left: 10px solid #999;
  border-right: 10px solid #999;
  border-bottom: 10px solid #999;
}

.delete a {
  color: #f00;
}

#History {
  margin-top: 2em;
  line-height: 1.75em;
}

#History tr:hover{
  background-color: #ffd;
}

#History td{
  border-bottom: 1px solid #ccc;
}

#History .date {
  width: 4em;
  text-align: left;
  padding-left: 0.2em;
}

#History .money {
  width: 3em;
  text-align: right;
}

#History .tags {
  font-size: 0.8em;
  color: #999;
}

#History .vendor {
  padding-left: 1em;
  color: #66c;
}

#History .description {
  padding: 0 1em;
}

input.defaulted{
  color: #888;
}

input[type=text] {
  border: 2px solid #ddd;
  font-size: 1.5em;
  margin: 0.25em 0;
  width: 18em;
}


input.money {
  background: #ffffff url(/images/dollar_sign.png) no-repeat center left;
  padding-left: 1em;
  width: 9em;
}

#Menu {
  margin-top: 6em;
}

#Menu li {
  float: left;
  list-style: none;
  margin-right: 2em;
}

.negative { color: #f0c; }

.positive { color: #0cf; }

#Scorecard {
  font-family: serif;
  float: right;
  width: 10em;
}

#Scorecard dt {
  width: 2em;
  float: left;
  clear: both;
  color: #ccc;
  text-align: right;
  padding-right: 0.5em;
  line-height: 1.3em;
  vertical-align: top;
  font-size: 0.9em;
}

#Scorecard dd {
  font-size: 1.75em;
  line-height: 1em;
  font-weight: bold;
}