development:
  authentication: plain
  address: smtp.gmail.com
  port: 587
  user_name: yourname@gmail.com
  password: 
  
test:
  authentication: plain
  address: smtp.gmail.com
  port: 587
  user_name: yourname@gmail.com
  password: 
    
production:
  authentication: plain
  address: smtp.gmail.com
  port: 587
  user_name: yourname@gmail.com
  password: