development:
  authentication: plain
  address: smtp.gmail.com
  port: 587
  user_name: yourname@gmail.com
  password: 
  exception_recipient: yourname@gmail.com
  exception_sender: ActiveBudget <yourname@gmail.com>
  
test:
  authentication: plain
  address: smtp.gmail.com
  port: 587
  user_name: yourname@gmail.com
  password: 
  exception_recipient: yourname@gmail.com
  exception_sender: ActiveBudget <yourname@gmail.com>
    
production:
  authentication: plain
  address: smtp.gmail.com
  port: 587
  user_name: yourname@gmail.com
  password:
  exception_recipient: yourname@gmail.com
  exception_sender: ActiveBudget <yourname@gmail.com>