development:
  access_key_id: access
  secret_access_key: secret
  bucket: bucket
test:
  access_key_id: access
  secret_access_key: secret
  bucket: bucket
production:
  access_key_id: access
  secret_access_key: secret
  bucket: bucket