%table
  %tr
    %th Name
    %th Count
    %th Spent

  %tbody
    - tags.each do |tag|
      %tr
        %td= link_to tag.name, tag_path(tag)
        %td.num= number_with_delimiter @household.transactions.visible_by(@user).tagged_with(tag).count
        %td.num= number_to_currency @household.transactions.visible_by(@user).tagged_with(tag).sum(:amount), precision: 0
