%table
  %tr
    %th Name
    %th Count
    %th Spent

  %tbody
    - tags.each do |tag|
      %tr
        %td= link_to tag.name, tag_path(tag)
        %td.num= number_with_delimiter Current.household.transactions.visible_by(Current.user).tagged_with(tag).count
        %td.num= number_to_currency Current.household.transactions.visible_by(Current.user).tagged_with(tag).sum(:amount), precision: 0
