%h1 Tags

%table.sortable
  %thead
    %tr
      %th.first Name
      %th.headerSortDown Count
      %th Amount
  %tbody
    - for tag in @tags
      %tr
        %td.vendor= link_to h(tag.name), tag
        %td.count= tag.count
        %td.sum= color_explicit_money current_user.items.find_tagged_with(tag).sum(&:value)