- content_for :sidebar do 
  %dl
    %dt #
    %dd= @items.size
  
    %dt $
    %dd= color_money @items.sum(&:value)

%h1= h @tag.name

%table
  %tbody
    = render :partial=>'items/item', :collection=>@items
    
