- content_for :sidebar do 
  %dl
    %dt= @items.size
    %dd #
  
    %dt= color_money @items.sum(&:value)
    %dd $
    

%h1= h @tag.name

%table
  %tbody
    = render :partial=>'items/item', :collection=>@items
    
