%h1 Vendor

%table.sortable
  %thead
    %tr
      %th.first.headerSortDown Name
      %th Count
      %th Amount
  %tbody
    - for vendor in @vendors
      %tr
        %td.vendor= link_to h(vendor.name), vendor
        %td.count= number_with_delimiter vendor.items.count_from(current_user)
        %td.sum= number_with_delimiter color_explicit_money(vendor.items.sum_from(current_user))