%h1 Vendor

%table
  %tr
    %th Name
    %th Count
    %th Amount

  - @vendors.each do |vendor|
    - stats = @vendor_stats[vendor.id]
    %tr
      %td= link_to vendor.name, vendor
      %td.num= stats ? number_with_delimiter(stats.transaction_count) : 0
      %td.num= stats ? number_to_currency(stats.total_amount, precision: 0) : number_to_currency(0, precision: 0)

= will_paginate @vendors
