- content_for :sidebar do 
  %dl
    %dt= @vendor.items.count_from(current_user)
    %dd #
    
    %dt= color_money @vendor.items.sum_from(current_user)
    %dd $
    

%h1= h @vendor.name
  

%table
  %tbody
    = render :partial=>'items/item', :collection=>@vendor.items.from(current_user)
    
      