<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ActiveBudget - Down for Maintenance</title>
  <style type="text/css">
    body {
      color: #333;
      font-family: helvetica, verdana, sans-serif;
      font-size: small;
      margin: 0;
      padding: 0;
      background-color: #ddd;
    }
    /* adjustment for IE5 */
    body {
    	font-size: x-small; /* IE5 Win */
      voice-family: "\"}\""; 
      voice-family: inherit;
      font-size: small;
    }
    html>body { /* be nice to Opera */
    	font-size: small;
    }
  
    #Wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 500px;
      height: 300px;
      margin-left: -260px; 
      margin-top: -150px;
    }

    #Dialog {
      margin: 0;
      padding: 10px;
      text-align: left;
      border: 2px solid #ccc;
      border-right: 1px solid #999;
      border-bottom: 1px solid #999;
      background-color: #fff;
    }
    
    #Content{
      width: 200px;
      margin: 0 auto;
    }
    
    h1{
      font-weight: normal;
    }

    </style>
  </head>

  <body>

    <div id="Wrapper">
       <div id="Dialog">
         <div id="Conent">
           <h1>ActiveBudget</h1>
           <p>
             The system is down for <%= reason ? reason : 'mainenance' %>
             as of <%= Time.now.strftime("%H:%M %Z") %>.
           </p>
           <p>
             Sorry for the inconvenience. We'll be back 
             <%= deadline ? "by #{deadline}" : "shortly" %>.
              <!--Please <a href="mailto:support@activebudget.org">email us</a> if you need immediate assistance.-->
           </p>

         </div>
       </div>
    </div>
  
  
</body>
</htML>