%tr
  %th Account
  %th Debit
  %th Credit
  %th Balance
- accounts.each do |account|
  %tr
    %td= link_to account.name, account
    %td.num.debit= not_zero account.debit_total
    %td.num.credit= not_zero account.credit_total
    %td.num= color_money account.balance
