%h2 Retired Assets
%table.data
  = render partial: 'accounts', object: @retired_assets

%h2 Retired Expenses
%table.data
  = render partial: 'accounts', object: @retired_expenses

%h2 Retired Income
%table.data
  = render partial: 'accounts', object: @retired_income
